code { 
    background: hsl(95, 95%, 95%); 
}

pre {
    white-space: pre-wrap;
    background: hsl(95,95%,95%);
}
mark {
	background-color: white;
	color: red;
}

mark:hover {
	background-color: red;
	color: white;
	display: "tt";
}

u1 {
    /*text-decoration: underline;*/
    /*text-decoration-color: blue;*/
    border-bottom: 2px solid blue;
}